<section class="regular extra">


    <header>
        <h1 class="h2 text-center" style="text-transform: uppercase">Posts by:</h1>
        <!-- <h2>{{ content }}</h2> -->
        <h2 class="h3 text-center" style="text-transform: uppercase; color: #aaa;">{{ title }}</h2>
    </header>

    <div class="container">
        <div class="row">
            <div class="col-md-12">

                <article class="list" style="margin-top: 70px">
                    {{ collection:blog taxonomy="true" paginate="true" as="posts" limit="10"}} {{ if no_results }}
                    <p>No "{{ title }}" posts.</p>
                    {{ /if }} {{ posts scope="tag" }} {{ partial:block }} {{ /posts }} {{ partial:pagination }} {{ /collection:blog }}
                </article>
            </div>
        </div>
    </div>

</section>