<section class="regular extra">
    <div class="container">
        <div class="row">
            <div class="col-md-2"></div>
            <div class="col-md-8">
                <header>
                    <h1>{{ title }}</h1>

                </header>

                <p>{{ if headshot }}
                    <img src="{{ glide:headshot width='140' height='140' fit='crop' }}" alt="{{title}}" width="140" height="140" class="small-image" style="float: left; margin-right: 15px;">{{/if}}{{ content }}</p>
            </div>
        </div>
    </div>

</section>