<article class="content">

    {{ if intro_image }}
    <p class="text-center"><img src="{{ intro_image }}" class="intro-"></p>
    {{ if intro_image_caption}}
    <div class="caption">{{intro_image_caption}}</div>
    {{/if}} {{ /if }}

    <div id="body-content" {{if add_dropcap=='true' }} class="dropcap" {{/if}}>

        {{ content }}

    </div>


    <ul class="tags">
        {{ tags }}
        <li><a href="{{ url }}" class="tag">{{ title }}</a></li>
        {{ /tags }}
    </ul>
</article>