<article class="content">

    {{ if intro_image }}
    <p class="text-center"><img src="{{ intro_image }}" class="intro-"></p>
    {{ if intro_image_caption}}
    <div class="caption">{{intro_image_caption}}</div>
    {{/if}} {{ /if }}

    <div id="body-content" {{if add_dropcap=='true' }} class="dropcap" {{/if}}>

        {{ content }}

    </div>

    <h5 style="padding-bottom: 8px; border-bottom: 1px solid #ccc">Tags</h5>
    <ul class="tags" style="margin-top: -30px">
        {{ tags }}
        <li><a href="{{ url }}" class="tag">{{ title | deslugify }}</a></li>
        {{ /tags }}
    </ul>
    <h5 style="padding-bottom: 8px; border-bottom: 1px solid #ccc">Authors</h5>
    <ul class="tags" style="margin-top: -30px">
        {{ authors }}
        <li style="padding-right: 15px"><a href="/biographies/{{ title | slugify }}" class="tag author">{{ title | deslugify }}</a></li>
        {{ /authors }}
    </ul>
</article>