<div class="block">
    <a href="{{ url }}">

		{{ if tag:intro_image }}
			<img src="{{ glide:intro_image width='140' height='140' fit='crop' }}" alt="{{if alt}}{{alt}}{{else}}{{title | sanitize | strip_tags}}{{/if}}" width="140" height="140" class="small-image">
		{{ elseif tag:hero_image }}
			<img src="{{ glide:hero_image width='140' height='140' fit='crop' }}" alt="{{if alt}}{{alt}}{{else}}{{title | sanitize | strip_tags}}{{/if}}" width="140" height="140" class="small-image">
		{{ elseif tag:headshot }}
			<img src="{{ glide:headshot width='140' height='140' fit='crop' }}" alt="{{if alt}}{{alt}}{{else}}{{title | sanitize | strip_tags}}{{/if}}" width="140" height="140" class="small-image">
		{{ /if }}

		<h3>{{ title }}</h3>
		{{if short_description}}
		<p>{{ short_description strip_tags="img|a|p|div|h1|h2|h3|h4|h5|h6" safe_truncate="200" ensure_right="..." collapse_whitespace}}</p>
		{{else}}
		<p>{{ content strip_tags="img|a|p|div|h1|h2|h3|h4|h5|h6" safe_truncate="200" ensure_right="..." collapse_whitespace}}</p>
		{{/if}}

		<div class="meta">
			{{ if (date | days_ago) < 21 }}
				{{ date | relative }}
			{{ elseif (date | format:Y) == now | format:Y }}
				{{ date format="M j" }}
			{{ else }}
				{{ date format="M j, Y" }}
			{{ /if }}
		</div>
	</a>
</div>