<footer class="no-print">


    <!-- <div style="margin: 0; background: #1f3641; padding: 0;" class="footer-override"> -->

    <div id="footer">

        <div class="container text-center" style="padding: 20px 0 20px 0; font-size: 12px;">

            <p id="copyright">&copy; 2017
                <a href="http://www.icjia.state.il.us" target="_blank"> Illinois Criminal Justice Information Authority </a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <i class="fa fa-github" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://github.com/ICJIA/icjia-tvpp">GitHub</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <i class="fa fa-facebook" aria-hidden="true"></i>&nbsp;&nbsp;<a href="https://www.facebook.com/targetedviolenceprevention/">TVPP on Facebook</a>&nbsp;&nbsp;|&nbsp;&nbsp;
                <a href="/privacy">Privacy Policy</a>

            </p>


        </div>
    </div>
</footer>