<div class="hidden-xs hidden-sm">
    <div style="margin: 0; padding: 0">

        <div class="equal">
            <div class="col-sm-4 col-md-4 col-lg-4 hoverBox">
                <a href="/tvpp/our-approach">
                    <div class="service-inner">

                        <h6 class="entry-title">Our Approach</h6>
                        <p class="p-description">The Targeted Violence Prevention Program promotes a public health approach to preventing ideologically inspired targeted violence in Illinois. Our approach relies on promoting prevention at the community-level through community-based
                            and faith-based organizations. </p>
                    </div>
                </a>
            </div>
            <div class="col-sm-4 col-md-4 col-lg-4 hoverBox">
                <a href="/tvpp/research">
                    <div class="service-inner">

                        <h6 class="entry-title">Research</h6>
                        <p class="p-description">The Targeted Violence Prevention Program makes outside research on targeted violence prevention and countering violent extremism more accessible to community-based and faith-based organizations. TVPP can also partner with community-level
                            efforts to conduct research on current and new targeted violence prevention programs.</p>
                    </div>
                </a>
            </div>

            <div class="col-sm-4 col-md-4 col-lg-4 hoverBox">
                <a href="/tvpp/resources">
                    <div class="service-inner">

                        <h6 class="entry-title">Resources</h6>
                        <p class="p-description">The Targeted Violence Prevention Program is developing new resources and curating existing resources to help community-based and faith-based organizations develop and sustain community-level programs to prevent ideologically inspired
                            targeted violence.</p>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>