<style>
    #bg1 {
        background: url(/assets/img/tvpp-splash-02.jpg) no-repeat center center;
        height: 595px;
        background-size: cover;
    }
</style>

<div id="home-welcome">
    <div style="margin: 0; padding: 0">

        <div class="equal">
            <div class="col-sm-12 col-md-5 col-lg-5 welcomeBox" id="bg1">
            </div>
            <div class="col-sm-12 col-md-7 col-lg-7 welcomeBox">

                <div class="service-inner">
                    <h6 class="entry-title">Research</h6>
                    <p class="p-description">The Targeted Violence Prevention Program makes outside research on targeted violence prevention and countering violent extremism more accessible to community-based and faith-based organizations. TVPP can also partner with community-level
                        efforts to conduct research on current and new targeted violence prevention programs.</p>
                </div>

            </div>


        </div>
    </div>
</div>