<section class="regular" style="margin-top: 60px">
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-12">
                <header>

                    <h1>TVPP Blog Authors:</h1>
                </header>

                <article class="list">
                    <ul>
                        {{ taxonomy:authors sort="title" }}
                        <li><a href="{{ url }}">{{ title }}</a></li>
                        {{ /taxonomy:authors }}
                    </ul>
                </article>

            </div>
        </div>
    </div>
</section>