body {
    background: #fff;
    color: $color_dark;
    font-family: $font_sans_content;
    font-size: $body_font_size;
}

.inline {
    display: inline;
}

.inline-block {
    display: inline-block;
}

.block {
    display: block;
}

.col-centered {
    float: none;
    margin: 0 auto;
}