// The colors duke! The colors!
$color_dark: #3c3c3c;
$color_mid: #555;
$color_light: #b8b8b8;
$color_teal: #005566;
$weight_heavy: 900;
$weight_normal: 400;
$weight_light: 200; // Fontsicles

/*$font_sans: 'Lato',
sans-serif;
*/


/*
$font_serif: 'Neuton',
serif;
*/

$font_sans_head: 'Lato',
sans-serif;
$font_sans_content: 'Open Sans',
sans-serif;
$gap: 32px;
$section-gap: 3px;
$section-rule: 1px solid #ccc;